{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightgrey;">
    <div class="container d-flex align-items-center">
      <a class="navbar-brand mb-3" href="{% url 'homepage:index' %}">
        TERMET SERVICE
      </a>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills gap-3">
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'homepage:index' %} text-white active{% endif %}" href="{% url 'homepage:index' %}">
              Ввод данных
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'homepage:index' %} text-white active{% endif %}" href="{% url 'homepage:index' %}">
              Поиск данных
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if view_name == 'homepage:index' %} text-white active{% endif %}" href="{% url 'homepage:index' %}">
              Вывод данных
            </a>
          </li>
        </ul>
        <a class="nav-link ms-auto" href="/admin/">Админ-зона</a>
      {% endwith %}
    </div>
  </nav>
</header>